@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  /* height: 1dvb; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --btn-color:rgb(223, 0, 193);
}

.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --btn-color:rgb(159, 56, 0);
}

.home {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.home .btn{
  background: var(--btn-color);
}
.home .btn:hover{
  box-shadow: 0 0 10px var(--btn-color);
  transition: .7s;
}